.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* grid-template-row: repeat(6, 1fr); */

  /* gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
  min-height: 100vh;
}
.NavBar {
  grid-column: 1 / 10;
  grid-row: 1;
}
.side-bar {
  grid-column: 1/3;
  grid-row: 1;
  height: 100%;
}
.main-container {
  grid-column: 3/10;
  grid-row: 1;
  height: 100%;
  padding: 6rem 3rem;
  padding-top: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
